[Desktop Entry]
Name=Emby Assistant
Comment=Monitor your Emby server status and media processing
Exec=/home/amouroug/emby-helper/start_gtk.sh
Icon=/home/amouroug/emby-helper/icon/emby-assistant-rounded.png
Terminal=false
Type=Application
Categories=AudioVideo;Utility;
